*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body{
    background-color: black;
}

header{
    background-color: rgb(61, 0, 0);
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: azure;
    font-family: "Chelsea Market", system-ui;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(34, 0, 0);
    box-shadow: 0px 20px 20px  rgba(224, 31, 31, 0.103);
}

header div{
    display: inline-flex;
    justify-content: space-evenly;
    width: 200px;
}

main{
    display: flex;
    background-image: url(../Imagens/snapedit_1782082156037.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    color: azure;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    
}

main div{
    margin: 20px;
    background-color: rgb(0,0,0,0.5);
    padding: 40px;
    border-radius: 20px;
    margin-left: 40px;
}

section{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

section img{
    width: 200px;
    height: 300px;
}

.item{
    border: 40px solid rgb(61, 0, 0);
    border-radius: 20px;
    background-color: rgb(61, 0, 0);
    box-shadow: 20px 20px 20px rgba(224, 31, 31, 0.103);
    margin: 20px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: rgb(61, 0, 0);
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: azure;
    font-family: "Chelsea Market", system-ui;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 4px solid rgb(34, 0, 0);
    box-shadow: 0px -15px 20px  rgba(224, 31, 31, 0.103);
}

.continuo{
    color: white;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.continuo p{
    font-size: large;
    text-align: center;
}
.continuo a{
    margin: 0px;
}

.ref{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(61, 0, 0);
    padding: 50px;
    border-radius:30px ;
    margin: 50px;
    box-shadow: 20px rgba(87, 87, 87, 0.5);
}